*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#bodysidebar{
    min-height: 100vh;
    background: #FEFEE2;
}
*/

.navigation{
    position: fixed;
    width: 60px;
    height: 100%;
    /*background: #bfe2fd;*/
    /* background: #11cdef; */
    /* background: #f1f3f4; */
     background: #ced1d3; 
    /* background: #8f9ca2; */
    transition: 0.5s;
    overflow: hidden;
}
@media (min-width: 992px) {
.navigation:hover{
    width: 200px;
}
}
.navigation ul {
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;

}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;

}

.navigation ul li:hover{
    background: #ff8b3d;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa{
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.active{
    background-color: #A9A9A9;
}